// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}
body { 
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #000;
  transition: background-color .5s;
  figure {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
